In [19]:
import pandas as pd

In [20]:
print(pd.__version__)

1.5.3

In [21]:
### DataFrame 구조
#- index(row) - coulmn(column) - data

In [22]:
num_list = [10,20,30,40,50]
pd. DataFrame(data=num_list)

    0
0  10
1  20
2  30
3  40
4  50

In [25]:
double_list = [[1000, '과자','2019-12-31','반품'],
 [2000, '음료', '2020-03-02', '정상'],
 [3000, '아이스크림', '2020-02-03','정상'],
 [1000,'과자','2019-12-31','반품']]
pd.DataFrame(data=double_list)

      0      1           2   3
0  1000     과자  2019-12-31  반품
1  2000     음료  2020-03-02  정상
2  3000  아이스크림  2020-02-03  정상
3  1000     과자  2019-12-31  반품

In [26]:
double_columns = ['가격','종류','판매일자','반품여부']
df_salesdays = pd.DataFrame(data=double_list, columns=double_columns)
df_salesdays

     가격     종류        판매일자 반품여부
0  1000     과자  2019-12-31   반품
1  2000     음료  2020-03-02   정상
2  3000  아이스크림  2020-02-03   정상
3  1000     과자  2019-12-31   반품

In [27]:
df_salesdays.columns , type(df_salesdays.columns), list(df_salesdays.columns)

(Index(['가격', '종류', '판매일자', '반품여부'], dtype='object'),
 pandas.core.indexes.base.Index,
 ['가격', '종류', '판매일자', '반품여부'])

In [28]:
df_salesdays.index

RangeIndex(start=0, stop=4, step=1)

In [29]:
df_salesdays.values

array([[1000, '과자', '2019-12-31', '반품'],
       [2000, '음료', '2020-03-02', '정상'],
       [3000, '아이스크림', '2020-02-03', '정상'],
       [1000, '과자', '2019-12-31', '반품']], dtype=object)

In [44]:
df_salesdays_dropcol = df_salesdays.drop(columns=['종류','판매일자',])
# df_salesdays.drop(columns=['종류','판매일자',],inplace=True) # 자체 지정한 df값이 변화한다

In [45]:
df_salesdays_dropcol

     가격 반품여부
0  1000   반품
1  2000   정상
2  3000   정상
3  1000   반품

In [48]:
## 필터 : and -&, or -|
# condition = (df_saledays_dropcol['반품여부'] == '정상')
condition = (df_salesdays_dropcol['가격'] >= 2500)
df_salesdays_dropcol.loc[condition]

     가격 반품여부
2  3000   정상

In [52]:
## Series
# -index - data

In [47]:
single_data = [0.1,0.2,0.3,0.4,0.5]
series_floats = pd.Series(data=single_data)
series_floats

0    0.1
1    0.2
2    0.3
3    0.4
4    0.5
dtype: float64

In [34]:
type(series_floats)

pandas.core.series.Series