In [65]:
import pandas as pd

In [66]:
print(pd.__version__)

1.5.3

In [21]:
### DataFrame 구조
#- index(row) - coulmn(column) - data

In [54]:
num_list = [10,20,30,40,50]
pd. DataFrame(data=num_list)

    0
0  10
1  20
2  30
3  40
4  50

In [55]:
double_list = [[1000, '과자','2019-12-31','반품'],
 [2000, '음료', '2020-03-02', '정상'],
 [3000, '아이스크림', '2020-02-03','정상'],
 [1000,'과자','2019-12-31','반품']]
pd.DataFrame(data=double_list)

      0      1           2   3
0  1000     과자  2019-12-31  반품
1  2000     음료  2020-03-02  정상
2  3000  아이스크림  2020-02-03  정상
3  1000     과자  2019-12-31  반품

In [67]:
double_columns = ['가격','종류','판매일자','반품여부']
df_salesdays = pd.DataFrame(data=double_list, columns=double_columns)
df_salesdays

     가격     종류        판매일자 반품여부
0  1000     과자  2019-12-31   반품
1  2000     음료  2020-03-02   정상
2  3000  아이스크림  2020-02-03   정상
3  1000     과자  2019-12-31   반품

In [68]:
df_salesdays.columns , type(df_salesdays.columns), list(df_salesdays.columns)

(Index(['가격', '종류', '판매일자', '반품여부'], dtype='object'),
 pandas.core.indexes.base.Index,
 ['가격', '종류', '판매일자', '반품여부'])

In [69]:
df_salesdays.index

RangeIndex(start=0, stop=4, step=1)

In [70]:
df_salesdays.values

array([[1000, '과자', '2019-12-31', '반품'],
       [2000, '음료', '2020-03-02', '정상'],
       [3000, '아이스크림', '2020-02-03', '정상'],
       [1000, '과자', '2019-12-31', '반품']], dtype=object)

In [71]:
df_salesdays_dropcol = df_salesdays.drop(columns=['종류','판매일자',])
# df_salesdays.drop(columns=['종류','판매일자',],inplace=True) # 자체 지정한 df값이 변화한다

In [72]:
df_salesdays_dropcol

     가격 반품여부
0  1000   반품
1  2000   정상
2  3000   정상
3  1000   반품

In [73]:
## 필터 : and -&, or -|
# condition = (df_saledays_dropcol['반품여부'] == '정상')
condition = (df_salesdays_dropcol['가격'] >= 2500)
df_salesdays_dropcol.loc[condition]

     가격 반품여부
2  3000   정상

In [82]:
# (df_salesdays_dropcol['가격'] >= 2500) | (df_salesdays_dropcol['가격'] >= 1000)
(df_salesdays_dropcol['반품여부'] == '정상') & (df_salesdays_dropcol['가격'] >= 2500)

0    False
1    False
2     True
3    False
dtype: bool

In [93]:
## 요약
# df_salesdays_dropcol.pivot_table(index='반품여부', values ='가격')
# pd.pivot_table(data=df_salesdays_dropcol, index='반품여부', values ='가격')
import numpy as np
df_salesdays_dropcol.pivot_table(index='반품여부', values ='가격', aggfunc=np.min)

        가격
반품여부
반품    1000
정상    2000

In [79]:
pd.pivot_table(data=df_salesdays_dropcol, index='반품여부', values ='가격')

        가격
반품여부
반품    1000
정상    2500

### Series
- index - data

In [47]:
single_data = [0.1,0.2,0.3,0.4,0.5]
series_floats = pd.Series(data=single_data)
series_floats

0    0.1
1    0.2
2    0.3
3    0.4
4    0.5
dtype: float64

In [34]:
type(series_floats)

pandas.core.series.Series

### 통계 수치 표현

In [83]:
import numpy as np #numpy 숫지만 다룸

In [84]:
arr = np.array([6, 4, 1, 3, 5, 3, 10, 7, 9])
arr

array([ 6,  4,  1,  3,  5,  3, 10,  7,  9])

In [90]:
# 평균, 합계
np.mean(arr), np.sum(arr)

(5.333333333333333, 48)

In [87]:
# 중앙값
np.median(arr)

5.0

In [88]:
# 최소값, 최대값
print(np.min(arr), np.max(arr))

1 10

In [89]:
# 분산, 표준편차
np.var(arr), np.std(arr)

(7.777777777777778, 2.788866755113585)