### quest
- 주차별 환자 입원/퇴원 추이 시각화
- 요일별 환자 입원/퇴원 추이 시각화
- hint : df_DL['날짜_datetime'].dt.day_name()

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font',family='Malgun Gothic')
import seaborn as sns
df_ROS = pd.read_csv('../../datasets/RecurrenceOfSurgery.csv')
df_ROS

,Unnamed: 0,환자ID,Large Lymphocyte,Location of herniation,ODI,가족력,간질성폐질환,고혈압여부,과거수술횟수,당뇨여부,...,Modic change,PI,PT,Seg Angle(raw),Vaccum disc,골밀도,디스크단면적,디스크위치,척추이동척도,척추전방위증
0,0,1PT,22.8,3,51.0,0.0,0,0,0,0,...,3,51.6,36.6,14.4,0,-1.01,2048.50,4,Down,0
1,1,2PT,44.9,4,26.0,0.0,0,0,0,0,...,0,40.8,7.2,17.8,0,-1.14,1753.10,4,Up,0
2,2,3PT,53.0,3,NaN,0.0,0,0,1,0,...,0,67.5,27.3,10.2,0,-1.77,1749.00,4,Down,0
3,3,4PT,54.7,4,18.0,0.0,0,1,0,0,...,0,49.2,18.7,19.9,0,-1.58,1796.20,4,Down,0
4,4,5PT,53.8,4,NaN,0.0,0,1,0,0,...,0,58.8,14.7,5.2,0,-0.79,2021.48,4,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1889,1889,1890PT,44.0,1,NaN,0.0,0,0,0,0,...,2,59.5,23.0,21.8,0,NaN,2652.20,5,Middle,0
1890,1890,1891PT,30.8,2,NaN,0.0,0,0,0,0,...,0,47.7,20.2,5.0,0,NaN,1795.80,4,Down,0
1891,1891,1892PT,36.7,3,NaN,0.0,0,0,0,0,...,0,44.6,15.0,17.4,1,NaN,2624.40,4,Down,0
1892,1892,1893PT,32.5,2,NaN,0.0,0,0,0,0,...,2,32.2,11.1,17.7,0,NaN,1972.50,5,Down,0
1893,1893,1894PT,49.5,2,NaN,0.0,0,0,0,0,...,0,38.9,6.8,27.8,0,NaN,1574.40,5,Middle,0

In [2]:
df_ROS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1894 entries, 0 to 1893
Data columns (total 52 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              1894 non-null   int64
 1   환자ID                    1894 non-null   object
 2   Large Lymphocyte        1894 non-null   float64
 3   Location of herniation  1894 non-null   int64
 4   ODI                     462 non-null    float64
 5   가족력                     1843 non-null   float64
 6   간질성폐질환                  1894 non-null   int64
 7   고혈압여부                   1894 non-null   int64
 8   과거수술횟수                  1894 non-null   int64
 9   당뇨여부                    1894 non-null   int64
 10  말초동맥질환여부                1894 non-null   int64
 11  빈혈여부                    1894 non-null   int64
 12  성별                      1894 non-null   int64
 13  스테로이드치료                 1894 non-null   int64
 14  신부전여부                   1894 non-null   int64
 15  신장                      1894 non-null   int64
 16  심혈관질환                   1894 non-null   int64
 17  암발병여부                   1894 non-null   int64
 18  연령                      1894 non-null   int64
 19  우울증여부                   1894 non-null   int64
 20  입원기간                    1894 non-null   int64
 21  입원일자                    1894 non-null   int64
 22  종양진행여부                  1894 non-null   int64
 23  직업                      1479 non-null   object
 24  체중                      1894 non-null   float64
 25  퇴원일자                    1894 non-null   int64
 26  헤모글로빈수치                 1893 non-null   float64
 27  혈전합병증여부                 1894 non-null   int64
 28  환자통증정도                  1894 non-null   int64
 29  흡연여부                    1894 non-null   int64
 30  통증기간(월)                 1890 non-null   float64
 31  수술기법                    1813 non-null   object
 32  수술시간                    1840 non-null   float64
 33  수술실패여부                  1894 non-null   int64
 34  수술일자                    1894 non-null   int64
 35  재발여부                    1894 non-null   int64
 36  혈액형                     1894 non-null   object
 37  전방디스크높이(mm)             1894 non-null   float64
 38  후방디스크높이(mm)             1894 non-null   float64
 39  지방축적도                   1891 non-null   float64
 40  Instability             1894 non-null   int64
 41  MF + ES                 1894 non-null   float64
 42  Modic change            1894 non-null   int64
 43  PI                      1890 non-null   float64
 44  PT                      1890 non-null   float64
 45  Seg Angle(raw)          1893 non-null   float64
 46  Vaccum disc             1894 non-null   int64
 47  골밀도                     998 non-null    float64
 48  디스크단면적                  1893 non-null   float64
 49  디스크위치                   1894 non-null   int64
 50  척추이동척도                  1894 non-null   object
 51  척추전방위증                  1894 non-null   int64
dtypes: float64(16), int64(31), object(5)
memory usage: 769.6+ KB

In [3]:
# 입원일자 및 퇴원일자 추출
df_ROSstat = df_ROS[['입원일자', '퇴원일자']]
df_ROSstat[:5]

       입원일자      퇴원일자
0  20190713  20190716
1  20190715  20190716
2  20190729  20190801
3  20190731  20190803
4  20190903  20190907

In [4]:
# 결측치 확인
df_ROSstat.isnull().sum()

입원일자    0
퇴원일자    0
dtype: int64

### int -> object 타입변환

In [5]:
# 날짜 str로 datatype 변환
df_ROSstat['입원일자'] = df_ROSstat['입원일자'].astype(str)
df_ROSstat['퇴원일자'] = df_ROSstat['퇴원일자'].astype(str)

C:\Users\04-02\AppData\Local\Temp\ipykernel_6900\3033189004.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ROSstat['입원일자'] = df_ROSstat['입원일자'].astype(str)
C:\Users\04-02\AppData\Local\Temp\ipykernel_6900\3033189004.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ROSstat['퇴원일자'] = df_ROSstat['퇴원일자'].astype(str)

In [6]:
df_ROSstat['입원일자_datetime'] = pd.to_datetime(df_ROSstat['입원일자']) 
df_ROSstat['퇴원일자_datetime'] = pd.to_datetime(df_ROSstat['퇴원일자'])

C:\Users\04-02\AppData\Local\Temp\ipykernel_6900\127083787.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ROSstat['입원일자_datetime'] = pd.to_datetime(df_ROSstat['입원일자'])
C:\Users\04-02\AppData\Local\Temp\ipykernel_6900\127083787.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ROSstat['퇴원일자_datetime'] = pd.to_datetime(df_ROSstat['퇴원일자'])

In [7]:
df_ROSstat.describe()

C:\Users\04-02\AppData\Local\Temp\ipykernel_6900\1963295515.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df_ROSstat.describe()
C:\Users\04-02\AppData\Local\Temp\ipykernel_6900\1963295515.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df_ROSstat.describe()

            입원일자      퇴원일자        입원일자_datetime        퇴원일자_datetime
count       1894      1894                 1894                 1894
unique      1051      1012                 1051                 1012
top     20190129  20120229  2019-01-29 00:00:00  2012-02-29 00:00:00
freq          23        46                   23                   46
first        NaN       NaN  2009-01-20 00:00:00  2009-01-24 00:00:00
last         NaN       NaN  2020-08-04 00:00:00  2020-08-07 00:00:00

In [8]:
# 주 단위로 날짜 변환
df_ROSstat['입원일자_datetime_week'] = df_ROSstat['입원일자_datetime'].dt.weekofyear
df_ROSstat['퇴원일자_datetime_week'] = df_ROSstat['퇴원일자_datetime'].dt.weekofyear
df_ROSstat.describe()

C:\Users\04-02\AppData\Local\Temp\ipykernel_6900\1213171116.py:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df_ROSstat['입원일자_datetime_week'] = df_ROSstat['입원일자_datetime'].dt.weekofyear
C:\Users\04-02\AppData\Local\Temp\ipykernel_6900\1213171116.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ROSstat['입원일자_datetime_week'] = df_ROSstat['입원일자_datetime'].dt.weekofyear
C:\Users\04-02\AppData\Local\Temp\ipykernel_6900\1213171116.py:3: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df_ROSstat['퇴원일자_datetime_week'] = df_ROSstat['퇴원일자_datetime'].dt.weekofyear
C:\Users\04-02\AppData\Local\Temp\ipykernel_6900\1213171116.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ROSstat['퇴원일자_datetime_week'] = df_ROSstat['퇴원일자_datetime'].dt.weekofyear

       입원일자_datetime_week  퇴원일자_datetime_week
count         1894.000000         1894.000000
mean            24.027983           23.748152
std             16.404609           16.339001
min              1.000000            1.000000
25%              9.000000            9.000000
50%             22.000000           22.000000
75%             40.000000           40.000000
max             52.000000           53.000000

### 주차별 환자 입원/퇴원 추이 시각화 및 인사이트 1차 방법 (2차 데이터 사용시)

In [ ]:
sns.barplot(data=df_ROSstat, x='입원일자_datetime_week', y='퇴원일자_datetime_week', estimator='sum')
sns.histplot(data=df_stat, x='weekly_release', kde=True)

In [ ]:
df_ROS['입원일자_datetime_week'] = df_ROS['입원일자_datetime'].dt.weekofyear
df_ROS['퇴원일자_datetime_week'] = df_ROS['퇴원일자_datetime'].dt.weekofyear

In [ ]:
sns.lineplot(data=df_ROS, x='입원일자_datetime_week', y='퇴원일자_datetime_week', estimator='sum')

### 요일별 환자 입원/퇴원 추이 시각화 및 인사이트 1차 방법 (2차 데이터 사용시)

In [ ]:
# df_ROS['요일'] = df_ROS['입원일자_datetime'].dt.day_name()

df_ROS['입원일자_datetime_day'] = df_ROS['입원일자_datetime'].dt.day_name()
df_ROS['퇴원일자_datetime_day'] = df_ROS['퇴원일자_datetime'].dt.day_name()

In [ ]:
pd.pivot_table(data=df_ROS, index='입원일자_datetime_day', values='퇴원일자_datetime_day', aggfunc='count')

In [ ]:
day_counts = df_ROS.groupby('입원일자_datetime_day')['퇴원일자_datetime_day'].count()

In [ ]:
pd.pivot_table(data=df_ROS, index='입원일자_datetime_day', values='퇴원일자_datetime_day', aggfunc='count').plot(kind='bar')

# 그래프 각도조절 
ax = day_counts.plot(kind='bar')
ax.set_xticklabels(ax.get_xticklabels(), rotation=0, ha='right')

plt.xlabel('요일')
plt.ylabel('카운트')
plt.title('일자별 입원 및 퇴원 수')
plt.tight_layout()
plt.show()

### 요일별 환자 입원/퇴원 추이 시각화 및 인사이트 2차 방법 (단순 시각화)

In [ ]:
# 요일별 입원 및 퇴원 카운트 계산
day_counts = df_ROS['입원일자_datetime_day'].value_counts()

In [ ]:
sns.barplot(x=day_counts.index, y=day_counts.values)
plt.xlabel('요일')
plt.ylabel('카운트')
plt.title('요일별 입원 및 퇴원 수')
plt.show()

In [ ]:
# 요일별 입원 및 퇴원 카운트 계산
day_counts = df_ROS['입원일자_datetime_day'].value_counts().sort_index()

In [ ]:
# 선 그래프 그리기
sns.lineplot(x=day_counts.index, y=day_counts.values)
plt.xlabel('요일')
plt.ylabel('카운트')
plt.title('요일별 입원 및 퇴원 수')
plt.show()