### quest
- apply() : '신장', '체중' -> BMI
- BMI 시각화 및 인사이트

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font',family='Malgun Gothic')
import seaborn as sns
df_ROS = pd.read_csv('../../datasets/RecurrenceOfSurgery.csv')
df_ROS

,Unnamed: 0,환자ID,Large Lymphocyte,Location of herniation,ODI,가족력,간질성폐질환,고혈압여부,과거수술횟수,당뇨여부,...,Modic change,PI,PT,Seg Angle(raw),Vaccum disc,골밀도,디스크단면적,디스크위치,척추이동척도,척추전방위증
0,0,1PT,22.8,3,51.0,0.0,0,0,0,0,...,3,51.6,36.6,14.4,0,-1.01,2048.50,4,Down,0
1,1,2PT,44.9,4,26.0,0.0,0,0,0,0,...,0,40.8,7.2,17.8,0,-1.14,1753.10,4,Up,0
2,2,3PT,53.0,3,NaN,0.0,0,0,1,0,...,0,67.5,27.3,10.2,0,-1.77,1749.00,4,Down,0
3,3,4PT,54.7,4,18.0,0.0,0,1,0,0,...,0,49.2,18.7,19.9,0,-1.58,1796.20,4,Down,0
4,4,5PT,53.8,4,NaN,0.0,0,1,0,0,...,0,58.8,14.7,5.2,0,-0.79,2021.48,4,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1889,1889,1890PT,44.0,1,NaN,0.0,0,0,0,0,...,2,59.5,23.0,21.8,0,NaN,2652.20,5,Middle,0
1890,1890,1891PT,30.8,2,NaN,0.0,0,0,0,0,...,0,47.7,20.2,5.0,0,NaN,1795.80,4,Down,0
1891,1891,1892PT,36.7,3,NaN,0.0,0,0,0,0,...,0,44.6,15.0,17.4,1,NaN,2624.40,4,Down,0
1892,1892,1893PT,32.5,2,NaN,0.0,0,0,0,0,...,2,32.2,11.1,17.7,0,NaN,1972.50,5,Down,0
1893,1893,1894PT,49.5,2,NaN,0.0,0,0,0,0,...,0,38.9,6.8,27.8,0,NaN,1574.40,5,Middle,0

In [2]:
df_ROS.columns

Index(['Unnamed: 0', '환자ID', 'Large Lymphocyte', 'Location of herniation',
       'ODI', '가족력', '간질성폐질환', '고혈압여부', '과거수술횟수', '당뇨여부', '말초동맥질환여부', '빈혈여부',
       '성별', '스테로이드치료', '신부전여부', '신장', '심혈관질환', '암발병여부', '연령', '우울증여부', '입원기간',
       '입원일자', '종양진행여부', '직업', '체중', '퇴원일자', '헤모글로빈수치', '혈전합병증여부', '환자통증정도',
       '흡연여부', '통증기간(월)', '수술기법', '수술시간', '수술실패여부', '수술일자', '재발여부', '혈액형',
       '전방디스크높이(mm)', '후방디스크높이(mm)', '지방축적도', 'Instability', 'MF + ES',
       'Modic change', 'PI', 'PT', 'Seg Angle(raw)', 'Vaccum disc', '골밀도',
       '디스크단면적', '디스크위치', '척추이동척도', '척추전방위증'],
      dtype='object')

In [3]:
# BMI = 체중(kg) / (신장(m) * 신장(m))
df_ROS_BMI = df_ROS [['환자ID','신장','체중']]
df_ROS_BMI[:10]

   환자ID   신장    체중
0   1PT  163  60.3
1   2PT  171  71.7
2   3PT  178  77.1
3   4PT  174  74.2
4   5PT  183  80.7
5   6PT  164  60.8
6   7PT  175  74.8
7   8PT  183  81.2
8   9PT  168  69.2
9  10PT  160  63.0

In [4]:
df_ROS_BMI.describe()

                신장           체중
count  1894.000000  1894.000000
mean    168.027983    68.111140
std       9.211419    11.234318
min     140.000000    35.000000
25%     161.000000    59.700000
50%     169.000000    68.000000
75%     175.000000    75.000000
max     204.000000   136.100000

In [5]:
df_ROS_BMI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1894 entries, 0 to 1893
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   환자ID    1894 non-null   object
 1   신장      1894 non-null   int64
 2   체중      1894 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 44.5+ KB

In [28]:
# BMI 계산 함수
def calculate_bmi(row):
    height = float(row['신장']) / 100  # 신장을 미터로 변환
    weight = float(row['체중'])
    bmi = weight / (height * height)
    return bmi

In [29]:
# BMI 계산 및 범주 할당
df_ROS_BMI['BMI'] = df_ROS_BMI.apply(calculate_bmi, axis=1)
df_ROS_BMI['BMI_범주'] = pd.cut(df_ROS_BMI['BMI'], bins=[0, 18.5, 24.9, 29.9, float('inf')],
                               labels=['저체중', '정상 체중', '과체중', '비만'])

C:\Users\04-02\AppData\Local\Temp\ipykernel_10852\426890299.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ROS_BMI['BMI'] = df_ROS_BMI.apply(calculate_bmi, axis=1)
C:\Users\04-02\AppData\Local\Temp\ipykernel_10852\426890299.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ROS_BMI['BMI_범주'] = pd.cut(df_ROS_BMI['BMI'], bins=[0, 18.5, 24.9, 29.9, float('inf')],

In [30]:
# BMI 범주별 빈도수 계산
bmi_category_counts = df_ROS_BMI['BMI_범주'].value_counts()

In [31]:
# 문자열로 변환한 신장과 체중 열
df_ROS_BMI['신장'] = df_ROS_BMI['신장'].astype(str)
df_ROS_BMI['체중'] = df_ROS_BMI['체중'].astype(str)

C:\Users\04-02\AppData\Local\Temp\ipykernel_10852\1354724796.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ROS_BMI['신장'] = df_ROS_BMI['신장'].astype(str)
C:\Users\04-02\AppData\Local\Temp\ipykernel_10852\1354724796.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ROS_BMI['체중'] = df_ROS_BMI['체중'].astype(str)

In [32]:
# BMI 분포를 막대 그래프로 시각화

bmi_category_counts.barplot
plt.title('BMI 범주별 환자 수')
plt.xlabel('BMI 범주')
plt.ylabel('환자 수')
plt.xticks(rotation=45)
plt.show()

AttributeError: 'Series' object has no attribute 'barplot'