In [14]:
import pandas as pd

In [15]:
print(pd.__version__)

1.5.3

In [23]:
### DataFrame 구조
#- index(row) - coulmn(column) - data

In [22]:
num_list = [10,20,30,40,50]
pd. DataFrame(data=num_list)

    0
0  10
1  20
2  30
3  40
4  50

In [24]:
doble_list = [
 [1000, '과자','2019-12-31','반품'],
 [2000, '음료', '2020-03-02', '정상'],
 [3000, '아이스크림', '2020-02-03','정상'],
 [1000,'과자','2019-12-31','반품']
 ]
              
pd.DataFrame(data=doble_list)

      0      1           2   3
0  1000     과자  2019-12-31  반품
1  2000     음료  2020-03-02  정상
2  3000  아이스크림  2020-02-03  정상
3  1000     과자  2019-12-31  반품

In [29]:
double_columns = ['가격','종류','판매일자','반품여부']
pd.DataFrame(data=doble_list, columns=double_columns )

     가격     종류        판매일자 반품여부
0  1000     과자  2019-12-31   반품
1  2000     음료  2020-03-02   정상
2  3000  아이스크림  2020-02-03   정상
3  1000     과자  2019-12-31   반품

In [28]:
single_data =[0.1, 0.2, 0.3, 0.4, 0.5]
series_floats= pd.Series(data=single_data)
series_floats

NameError: name 'single_data' is not defined

In [ ]:
type(series_floats)